<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Recipes</title>
</head>
<body>
    <div class="container" style="flex-direction: column;">
        <div class="nav">
            <h1>Welcome {{ session['chef_name'] }}</h1>
            <div>
                <a href="/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="box">
            <h1>{{ recipes.name }} (Liked by {{ count }} Chef(s))</h1>
            <div id="border">
                <p>Description: {{ recipes.description }}</p>
                <p>Under 30 Minutes: {{ recipes.cooking_time }}</p>
                <p>Instructions: {{ recipes.instructions }}</p>
                <p>Date Made: {{ recipes.made_on }}</p>
            </div>
        </div>
    </div>
</body>
</html>